{% extends 'rango/base_bootstrap.html' %}
{% load staticfiles %}
{% block title %}User Profiles{% endblock %}
{% block body_block %}
<br>

<h1>User Profiles</h1>
<div class="panel">
    {% if userprofile_list %}
    <div class="panel-heading">
        <!-- Display search results in an ordered list -->
        <div class="panel-body">
            <div class="list-group">
                {% for listuser in userprofile_list %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-md-4">
                        <a href="{% url 'profile' listuser.user.username %}">
                            {{ listuser.user.username }}</a>
                    </div>
                    <div class="col-md-4 offset-md-4">
                        <img src="{{ MEDIA_URL }}{{listuser.picture }}" class="card-img-top" width="64" height="64" alt="{{selecteduser.username}}" />
                    </div>
                </li>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
</div>

{% else %}
<p>There are no users for the site.</p>
{% endif %}
</div>
{% endblock %}